<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dicta
        fugiat nam, praesentium voluptatibus odio perferendis quaerat rem atque?
        Quia dolorum laborum doloribus, alias delectus voluptate tempora
        accusamus omnis perferendis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dicta
        fugiat nam, praesentium voluptatibus odio perferendis quaerat rem atque?
        Quia dolorum laborum doloribus, alias delectus voluptate tempora
        accusamus omnis perferendis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dicta
        fugiat nam, praesentium voluptatibus odio perferendis quaerat rem atque?
        Quia dolorum laborum doloribus, alias delectus voluptate tempora
        accusamus omnis perferendis?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>

  </body>
</html>
